@*
* Copyright 2021 HM Revenue & Customs
*
*@

@import uk.gov.hmrc.govukfrontend.views.html.components.GovukDateInput
@import uk.gov.hmrc.govukfrontend.views.viewmodels.dateinput.DateInput
@import uk.gov.hmrc.govukfrontend.views.viewmodels.fieldset.Fieldset
@import uk.gov.hmrc.govukfrontend.views.viewmodels.fieldset.Legend
@import uk.gov.hmrc.govukfrontend.views.viewmodels.dateinput.InputItem
@import uk.gov.hmrc.govukfrontend.views.viewmodels.hint.Hint
@import uk.gov.hmrc.govukfrontend.views.viewmodels.errormessage.ErrorMessage
@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.Text
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.RichDateInput
@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.HtmlContent
@import play.twirl.api.HtmlFormat

@this(govukDateInput: GovukDateInput)

@(
        form: Form[_],
        legendContent: String,
        legendClasses: Option[String] = None,
        id: String = "value",
        hintText: Option[Html] = None,
        legendAsPageHeading: Boolean = true,
)(implicit messages: Messages)


@govukDateInput(DateInput(
    fieldset = Some(Fieldset(
        legend = Some(
            Legend(
                content = Text(messages(legendContent)),
                isPageHeading = legendAsPageHeading,
                classes = ( if(legendAsPageHeading){"govuk-fieldset__legend--xl "} else "") + legendClasses.getOrElse("")

            )
        ),
    )),
    id = id,
    items = Seq(
        InputItem(
            classes = "govuk-input--width-2",
            name  =  s"$id.day",
            label = Some(messages("date.fields.day")),
            value = form(s"$id.day").value,
            id    = s"$id.day"
        ),
        InputItem(
            classes = "govuk-input--width-2",
            name = s"$id.month",
            label = Some(messages("date.fields.month")),
            value = form(s"$id.month").value,
            id    = s"$id.month"
        ),
        InputItem(
            classes = "govuk-input--width-4",
            name = s"$id.year",
            label = Some(messages("date.fields.year")),
            value = form(s"$id.year").value,
            id    = s"$id.year"
        )


    ),
    hint = hintText.map(hintHtml => Hint(
        content = HtmlContent(hintHtml)
    )),
    errorMessage = form(id).error.map(err => ErrorMessage(content = Text(messages(err.message, err.args:_*))))
).withFormField(form(id)))