.js-no .js-visible {
  display: none;
  visibility: hidden;
}

.js-enabled .link-back.js-visible {
  display: inline-block;
  visibility: visible
}

@media (min-width: 641px){
    .autocomplete__wrapper {
      width: 50%;
    }
}

.autocomplete__wrapper input[type="text"] {
  width: 100%
}

.autocomplete__menu--inline {
  position: absolute;
  z-index: 999;
}

.add-remove__item {
  border-bottom: 1px solid #bfc1c3;
  padding: 30px 0;
}

.country-outer select {
  display: block;
  background-color: #fff;
  min-width: 200px;
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.govuk-related-items .heading-medium, 
.govuk-related-items .heading-24 {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.govuk-related-items li {
  margin-bottom: 10px;
  list-style-type: none;
}

.form-group-error .error-message {
    display: block;
}

h1 {
  margin: 0;
}

.language-toggle {
    float: right;
    margin: 0;
}

.govuk-visually-hidden {
    border: 0;
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.govuk-visually-hidden.focusable:active,
.govuk-visually-hidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.govuk-box-highlight {
    border: 5px solid;
}

.govuk-box-highlight h1 {
    margin-bottom:3rem;
    word-wrap: break-word;
}

.govuk-box-highlight h2 {
    margin-top:0;
}

.skiplink:focus {
    position: static;
}

.mb-0 {
    margin-bottom: 0;
}
.mt-0 {
    margin-top: 0;
}
.mb-2 {
    margin-bottom: 2em;
}
.mt-2 {
    margin-top: 2em;
}
.eori-number {
    font-weight: bold;
}

.hmrc-language-select {
    float: right;
    margin: 0;
}
.hmrc-language-select__list {
    float: right;
}

.hmrc-language-select__list-item {
    display: inline-block;
}

.hmrc-language-select__list-item:first-child::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.1875em;
    height: 1em;
    border-right: 0.09375em solid;
}

a.hmrc-language-select__list-item {
    padding: 0.3125em;
}

details .arrow {
    display: none!important;
}

.panel-indent--thick {
    border-left: 8px solid #bfc1c3;
}

.input-with-prefix {
    display: flex;
    font-weight: 400;
    height: 38px;
}

.input-with-prefix__prefix {
    font-size: 19px;
    box-sizing: border-box;
    display: inline;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border: 2px solid #0b0c0c;
    border-right: 0;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    flex: 0 0 auto;
}

.input-with-prefix__input {
    flex: 0 1 auto;
    width: 50% !important;
    font-size: 1.1875rem;
    box-sizing: border-box;
    text-transform: none;
    border: 2px solid #0b0c0c;
}

@media (max-width: 640px){
    .input-with-prefix__prefix {
        font-size: 16px;
        padding: 8px;
    }

    .input-with-prefix__input {
        width: 100% !important
    }
}

.postcode-address-value {
    display:inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.postcode-address-change {
    display: inline-block;
    font-weight: bold;
}

.numbered-list {
    display: inline-block;
    list-style-type: decimal;
    padding-left:20px;
}